.debug
{
    margin-top: 2em;
    padding:  10px;

    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #ffeede;
}

.debug__title
{
    font-size:  130%;
}


.debug__data
{
    display: block;

    margin-bottom: .5em;

    font-size: 120%;
}

/*
.debug__data
{
    display: block;
    overflow-x: auto;
    overflow-y: hidden;

    margin-top: 0;
}
*/

.debug code
{
    display: inline-block;

    background: #f9f9f9;
}

/*@import url(__highlight/styles/default.css);*/
